<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alearner.mapper.mysql.MixedNotifyMapper"><!--注意这里的地址-->
    <select id="getLastAnnounceTimeByUserId"  parameterType="int"  resultType="com.alearner.entity.mysql.UNotify">
        select * from u_notify
        where
          type = 1 and
          id in (
            select notify_id from u_user_notify where user_id = #{userId} and able_status = true
          ) and
          able_status = true
        order by update_time desc limit 1;
    </select>



    <select id="getUserNotifyListByUserId"  parameterType="int"  resultType="com.alearner.entity.mysql.UserNotifyList">
        select a.id , a.read_status , a.user_id ,a.notify_id , b.content , b.type,b.target,b.target_type,b.action,b.sender,a.able_status as able_user_notify,b.able_status as able_notify,a.update_time
        from u_user_notify a , u_notify b
        where  a.user_id = #{userId} and
               a.notify_id  = b.id  and
               a.able_status = true
               and b.able_status = true
        order by a.read_status asc,a.update_time desc;
    </select>



    <!--<insert id="addUUserNotify" useGeneratedKeys="true" keyProperty="id" parameterType="com.alearner.entity.mysql.UUserNotify">-->
        <!--insert into u_user_notify(read_status,user_id,notify_id)values(#{readStatus},#{userId},#{notifyId})-->
    <!--</insert>-->

</mapper>