<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alearner.mapper.mysql.USsoUserEduMapper"><!--注意这里的地址-->
    <select id="getUSsoUserEduById"  parameterType="int"  resultType="com.alearner.entity.mysql.USsoUserEdu">
    select * from u_sso_user_edu where sso_id = #{sso_id} and able_status=true ;
    </select>
</mapper>