<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alearner.mapper.mysql.UStudentMapper"><!--注意这里的地址-->
    <select id="getUStudentById"  parameterType="int"  resultType="com.alearner.entity.mysql.UStudent">
        select * from u_student where id = #{id} and able_status=true ;
    </select>
</mapper>